body {
    margin: 0;
    font-family: 'Source Serif 4', serif;
}

a {
    text-decoration: none;
    color: white;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: brown;
    padding: 12px 18px;
}

.navbar__logo {
    font-size: 24px;
    color: white;
}

.navbar__logo i {
    color: brown;
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar__menu li {
    padding: 8px 12px;
}

.navbar__menu li:hover {
    background-color: blueviolet;
    border-radius: 4px;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar__menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar__menu li {
        width: 100%;
        text-align: center;
    }   
}